<!-- app/templates/admin/catalog.html -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TourTaiwan - Create_Tour{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"/>
<script type="text/javascript">

$(document).ready(function()
{
    $("select[name='car_type']").on("change", function(){
		set_total();
    });
	set_total();
    $("input[name='tour_guide']").on("change", function(){
		set_total();
    });
    $("select[name='tour_type']").on("change", function(){
		set_total();
    });

function set_total(){
var cbox =  document.getElementsByName('tour_guide');
var car_type =  document.getElementsByName('car_type');
var tour_type =  document.getElementsByName('tour_type');

var total = 0;

if (car_type[0].value == "1")
	{
	
	if (tour_type[0].value == "1")
		total = 3500;
	else	
		total = (4000 * parseInt(tour_type[0].value - 1))

	}

if (car_type[0].value == "2")
	{
	if (tour_type[0].value == "1")
		total = 4000;
	else
		total = (4500 * parseInt(tour_type[0].value - 1))

	}
	
if (car_type[0].value == "3")
	{
	if (tour_type[0].value == "1")
		total = 5000;
	else
		total = (5500 * parseInt(tour_type[0].value - 1))

	}

if (car_type[0].value == "4")
	{
	if (tour_type[0].value == "1")
		total = 6000;
	else
		total = (7000 * parseInt(tour_type[0].value - 1))

	}

if (cbox[0].checked)
	total = total + 1000
document.getElementsByName("total")[0].value = total;    
}
    
});
</script>
{% endblock %}

{% block page_content %}
<div class="page-header">
</div>
<div class="row">
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-center-block">

<img src="{{ url_for('static', filename='img/price_list.jpg') }}" class="img-responsive center-block" style="width:100%">
    <p></p>
	<p></p>

<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.car_type) }}
  {{ wtf.form_field(form.tour_type) }}
  {{ wtf.form_field(form.tour_guide) }}
  <p>
  <p>
  <span>Total : <input type="text" name="total" value="0" readonly></span><span>
  <p>
  <p>
  {{ form.submit(class="btn btn-default") }}
</form>

</div>
</div>
{% endblock %}