<!-- app/templates/admin/catalog.html -->

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TourTaiwan - List_tour{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"/>

{% endblock %}

{% block page_content %}
<div class="page-header">
</div>
<div class="row">
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-center-block">

<img src="{{ url_for('static', filename='img/price_list.jpg') }}" class="img-responsive center-block" style="width:100%">
    <p></p>
	<p></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Tour_id</th>
            <th>Car_type</th>
            <th>Tour_type</th>
            <th>StartDate</th>
            <th>Total_price</th>
            <th>Tour_guide</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>
        {%if interactives %}
        {% for interactive in interactives %}
        <tr>
        	{% if interactive.ordered == False %}
        	<td><a href= "{{url_for("interactive.remove", id = interactive.id)}}" class="glyphicon glyphicon-remove-sign"></a></td>
            {% else %}
			<td><span class="glyphicon glyphicon-earphone"></span></td>
            {% endif%}
            <td>{{ interactive.id }}</td>
            <td>{{ interactive.get_car(interactive.car_type).first().car_name }}</td>
            <td>{{ interactive.get_tour(interactive.tour_type).first().tour_name }}</td>
            <td>{{ interactive.tour_date }}</td>
            <td>{{ interactive.total_price }}</td>
            <td>{{ interactive.tour_guide }}</td>

            {% if interactive.paied == True %}
            <td>paied</td>
            {% else %}
                {% if interactive.ordered == False %}
	                <td><a href={{url_for('interactive.submit',id=interactive.id)}} class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Submit</a></td>
                {% else %}
                    {% if interactive.comfirmed == False %}
                        <td>Wait Comfirmed</td>
                    {% else %}
                        <td><a href={{url_for('interactive.pay',id=interactive.id)}} class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Pay  !!</a></td>
                    {% endif %}
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>No items.</td>
        </tr>
        {% endif %}
    </tbody>
</table>


</div>
</div>
{% endblock %}