<!-- app/templates/interactive/pay_order.html -->
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block title %}TourTaiwan - Pay_tour{% endblock %}

{% block page_content %}

<div class="row">
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-center-block">

<img src="{{ url_for('static', filename='img/price_list.jpg') }}" class="img-responsive center-block" style="width:100%">
    <p></p>
	<p></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Tour_id</th>
            <th>Car_type</th>
            <th>Tour_type</th>
            <th>StartDate</th>
            <th>Total_price</th>
            <th>Tour_guide</th>

        </tr>
    </thead>
    <tbody>
        <tr>
        	{% if interactive.ordered == False %}
        	<td><a href= "{{url_for("interactive.remove", id = interactive.id)}}" class="glyphicon glyphicon-trash"></a></td>
            {% else %}
			<td><span class="glyphicon glyphicon-earphone"></span></td>
            {% endif%}
            <td>{{ interactive.id }}</td>
            <td>{{ interactive.get_car(interactive.car_type).first().car_name }}</td>
            <td>{{ interactive.get_tour(interactive.tour_type).first().tour_name }}</td>
            <td>{{ interactive.tour_date }}</td>
            <td>{{ interactive.total_price }}</td>
            <td>{{ interactive.tour_guide }}</td>
        </tr>
    	</tbody>
	</table>
</div>

<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-center-block">   
        
            <div class="well text-center">
			  <form action="/interactive/stripecharge" method="post">
			  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			  <input type="hidden" name="id" value="{{ interactive.id }}"/>
			    <article>
			      <label>
			        <span>Deposit : ${{interactive.total_price/10}}(10%)</span>
			      </label>
			    </article>
			    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			            data-key={{ publishkey }}
			            data-description="TourTaiwan Payment"
			            data-amount={{interactive.total_price * 10}}
			            data-locale="auto"></script>
			  </form>
			</div>
		</div>
</div>
{% endblock %}
